<app-layout>
  <div class="news__wrapper" *ngIf="news">
    <div class="news__header">
      <div class="tags">
        <span class="tag" *ngFor="let tag of news.tags">{{ tag.title }}</span>
      </div>

      <h1 class="title">
        {{ news.title }}
      </h1>

      <div class="info">
        <span class="date">
          <fa-icon [icon]="faCalendar"></fa-icon>
          {{ news.date | date : "d MMMM YYYY, h:mm" }} </span
        >|
        <span class="views">
          <fa-icon [icon]="faEye"></fa-icon>
          {{ news.viewCount }} </span
        >|
        <span class="comments">
          <fa-icon [icon]="faMessage"></fa-icon>
          {{ news.commentsCount }}
        </span>
      </div>
    </div>
    <div class="news__body">
      <div class="img">
        <img [src]="news.imageMiddle" />
      </div>
      <div class="desc">
        {{ news.description }}
      </div>
    </div>
  </div>
</app-layout>
